.free_orders .order-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  gap: 8px;
  height: auto;

  background: #EAECF3;
  border-radius: 10px;

  svg.MuiSvgIcon-root{
    transform: rotate(180deg) scaleX(-1);
  }

  &__context-menu{
    &:after{
      
    }
  }
  &__body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    &-top{
      width: 100%;
    }
    &-middle-inner{
      width: 100%;
    }
    &-middle{
      background: #FAFBFE;
      border-radius: 10px;
      padding: 10px;

      &__address{
        font-weight: 500;
        font-size: 16px;
      }
      &__client-name{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin: 4px 0px 10px 0;
        color: #919191;
      }    
      &__address-data{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        ul{
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
        }
        li{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3px;
          font-size: 14px;
          line-height: 16px;
        }
        nav {
          border: 1px solid #CCD7EC;
          border-radius: 10px;
          padding: 0;
          .list-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 5px;
          }
          .MuiListItemButton-root{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 6px 16px;
          }
          .MuiCollapse-vertical:first-child{
            border-top: 1px solid #CCD7EC;
          }
        }

      }
      &__products{
        width: 100%;
        border: 1px solid #CCD7EC;
        border-radius: 10px;
      }
    }

    
  }
  &__bottom{

    .add-courier-button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      gap: 10px;

      width: 257.33px;
      height: 35px;
      color: #fff;
      background: #2B2D35;
      border-radius: 8px;
      text-transform: none;
      cursor: pointer;
    }
    .adding-courier-button{
      color: #000;
      text-transform: none;
      font-weight: 400;
      font-size: 14px;
      background: #FBFCFF;
      border-radius: 8px;
      width: 257.33px;
      height: 35px;
      &:hover{
        background: #32343d;
        color: #fff;
        border-radius: 8px;
        svg{
          fill: #fff;
        }
      }      
    }
    
    &:hover{
      background: #32343d;
      border-radius: 8px;
    }
  }
  &__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #CCD7EC;
  }  

  &__info-list{
    display: flex;
    justify-content: space-between;
    align-items: center;


    li{
      display: flex;
      flex-direction: row;
      align-items: center;

      &.timer_out{
        max-width: 120px;

        svg path{
          stroke: red;
        }
      }
    }
    svg{
      margin-right: 5px;
    }
  }
}



/******************************************************************/
/******************************************************************/
/******************************************************************/




.taked_orders .order-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  gap: 8px;
  height: auto;

  background: #2B2D35;
  color: #FFFFFF;
  border-radius: 10px;

  svg.MuiSvgIcon-root{
    transform: rotate(180deg) scaleX(-1);
  }

  &__context-menu{
    &:after{
      
    }
  }
  &__body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    &-top{
      width: 100%;
    }
    &-middle-inner{
      width: 100%;
    }
    &-middle{
      background: #353842;
      border-radius: 10px;
      padding: 10px;

      &__address{
        font-weight: 500;
        font-size: 16px;
      }
      &__client-name{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin: 4px 0px 10px 0;
        color: #919191;
      }    
      &__address-data{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        ul{
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
        }
        li{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3px;
          font-size: 14px;
          line-height: 16px;
        }
        nav {
         /* border: 1px solid #CCD7EC;*/
          border-radius: 10px;
          padding: 0;
          .list-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 5px;
          }
          .MuiListItemButton-root{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 6px 16px;
          }
          .MuiCollapse-vertical:first-child{
            border-top: 1px solid #CCD7EC;
          }
        }

      }
      &__products{
        width: 100%;
        border: 1px solid #4c515c;
        border-radius: 10px;

        nav{
          background: #2B2D35;
        }
      }
    }

    
  }
  &__bottom{
    width: 100%;

    .add-courier-button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px 10px;
      gap: 10px;
      width: 257.33px;
      height: 35px;
      color: #fff;
      background: #2B2D35;
      border-radius: 8px;
      text-transform: none;
      cursor: pointer;
    }
    .adding-courier-button{
      color: #000;
      text-transform: none;
      font-weight: 400;
      font-size: 14px;
      background: #353842;
      border-radius: 8px;
      width: 257.33px;
      height: 35px;
      &:hover{
        background: #32343d;
        color: #fff;
        border-radius: 8px;
        svg{
          fill: #fff;
        }
      }      
    }

    &__courier_info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 10px;

      &__images{
        display: flex;
        align-items: center;
        width: 60px;
        div{
          display: inherit;
          
          img{
            position: relative;
            z-index: 2;
            border-radius: 15px;
            height: 25px;
          }
        }


        
        .transport_icon{
          background-color: #FEF2EB;
          border-radius: 16px;
          height: 25px;
          width: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          left: -10px;
          z-index: 1;
        }
      }
      &__fio_time{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        align-content: flex-start;
        width: 100%;
        
        .time{
          display: flex;
          color: #BC5555;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }
      }
    }
    
    &:hover{
      background: #32343d;
      border-radius: 8px;
    }
  }
  &__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #3A3E47;

  }  

  &__info-list{
    display: flex;
    justify-content: space-between;
    align-items: center;

    li{
      display: flex;
      flex-direction: row;
      align-items: center;

      &.timer_out{

        svg path{
          stroke: red;
        }
      }

    }
    svg{
      margin-right: 5px;
    }
  }
}

.order-card__location{
  cursor: pointer;
}
//.order-card__location.active svg{
//  box-shadow: 0px 0px 10px 2px rgba(182, 5, 243, 0.76);
//  border-radius: 20px;
//}
.free_orders .order-card__body-middle__address {
  align-items: flex-start;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
}
.free_orders .order-card__body-middle__address span {
  font-weight: 600;
}
